


<div class="card cardNoBorder cardBg">
   
    <div class="row">
       <div class="col-md-7">
        <h5 class="pageTitle">Total cases for the last 14 Days in </h5>
       </div>


       <div class="col-md-5">
        <div class="dropdown">
            <button class="btn dropdown-toggle countryDropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             {{currentCountry  | titlecase }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div style="cursor: pointer;" class="dropdown-item" *ngFor="let i of listCountry" (click)="changeCountry(i.Slug, i.Country)">{{i.Country}}</div>
            </div>
          </div>
       </div>

    </div>
    <br>
    <canvas id="canvas">{{ chart }}</canvas>
</div>