<div class="row rowMaster">

  <div class="col-md-12 col-lg-12">
    <h3 class="pageTitle times2">COVID-19 Global Trend</h3>
  </div>

  <div class="col-lg-10 col-md-12">

    <div class="row rowDashboard ">

      <div class="col-lg-12 col-md-12">

        <app-stat-worldwide></app-stat-worldwide>
      </div>


    </div>

    <div class="row  rowDashboard">

      <div class="col-lg-3 col-md-12">
        <app-stat-ranking></app-stat-ranking>
      </div>

      <div class="col-lg-9 col-md-12">
        <app-stat-by-country></app-stat-by-country>
        <br>
        <app-covid-map></app-covid-map>
      </div>




    </div>
  </div>

  <div class="col-lg-2 col-md-12">
    <app-worldwide-trends></app-worldwide-trends>
    <app-info-section></app-info-section>

    

    <div class="githubLink">
      <a href="https://github.com/fatinabila" target="_blank" (click)="track()">

        <img src="assets/social-badges.svg" style="max-width: 100%;border-radius: 50%;">
      </a>

    
    </div>

    <p class="cp">Don't forget to visit my Github!</p>

  </div>
</div>
