<div class="card">

    <h5 class="pageTitle">Countries with most cases </h5>
    <br>
   <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Country</th>
          <th scope="col">Confirmed Cases</th>
          <th scope="col">Total Death</th>
          <th scope="col">Total Recovered</th>
          <th scope="col">Active Cases</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let i of top10Ranking; index as item" >
          <td ><img src="https://www.countryflags.io/{{i.CountryCode}}/shiny/32.png" style="margin-right:10px">{{i.Country}} </td>
          <td>{{i.TotalConfirmed | separator}}</td>
          <td>{{i.TotalDeaths | separator}}</td>
          <td>{{i.TotalRecovered | separator}}</td>
          <td>{{i.TotalActive  | separator}}</td>
        </tr>
      
      </tbody>
    </table>
   </div>
</div>