.table td {
    padding: 15px 10px;
    vertical-align: top;
    border-top: 1px solid #ededed;
   
    text-align: left;

    color: #686666;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 13px;
   
}

.table th{
    border: solid 0px;
    text-align: left;
    font-weight: 700;
    font-family: 'Lora', serif;
    
    color: #2e2e2e;
}