<div class="row rowCard ">


  <div class="col-md-7 col-lg-12" style="position:relative">


    <a href="https://www.youtube.com/watch?v=NMre6IAAAiU&ab_channel=RoylabStats" target="_blank" (click)="track()">
      <div class="card cardLink">


        <h3 class="title"><span class="important">Live</span> Update</h3>

        <div class="imgWrapper">
          <img src="assets/germ.jpg">
        </div>

        <p class="sub">View live update on Covid-19 statistics </p>

      </div>
    </a>

  </div>

  <div class="col-md-5 col-lg-12" style="position:relative">



    <div class="card cardBg">

      <div class="overlay"></div>

      <div class="comingSoon">
        <span>Coming Soon</span>
      </div>

      <h5 class="caption">View latest update on COVID-19 Vaccine</h5>


    </div>

  </div>



</div>
