<div class="row rowCard">

  <div class="col-md-12">
  
    <h5 class="pageTitle">New Cases (Malaysia)</h5>
    <div class="card ">
     <div> 
       <canvas id="canvasLine">{{ chartLine }}</canvas>
      </div>

      <p class="sub" >As at {{lastDate}}</p>

    
    </div>

  </div>

  <div class="col-md-12">
    <br>
    <h5 class="pageTitle">Worldwide </h5>

  </div>

  <div class="col-md-12">

    <div class="card cardNoShadow cardBgImg">
      <p class="lastStats">{{globalNewConfirmed  | separator}} new confirmed cases reported on {{lastDate}}</p>
    </div>

  </div>
  <div class="col-lg-6 col-md-6">

    <div class="card">

      <div class="iconWrap">
        <img src="assets/global.svg">

      </div>
      <h2 class="bigNum">
        {{ globalConfirmed | separator}}
      </h2>

      <p class="sub">Total Confirmed Cases</p>
    </div>

  </div>

  <div class="col-lg-6 col-md-6">

    <div class="card">

      <div class="iconWrap">
        <img src="assets/tick.svg">

      </div>
      <h2 class="bigNum">
        {{globalRecovered | separator}}
      </h2>

      <p class="sub">Total Recovered Cases</p>
    </div>

  </div>

  <div class="col-lg-6 col-md-6">

    <div class="card bgRed">

      <div class="iconWrap">
        <img src="assets/megaphone.svg">

      </div>
      <h2 class="bigNum ">
        {{globalActive  | separator}}
      </h2>

      <p class="sub">Total Active Cases </p>
    </div>

  </div>

  <div class="col-lg-6 col-md-6">

    <div class="card">

      <div class="iconWrap">
        <img src="assets/user.svg">
      </div>

      <h2 class="bigNum">
        {{  globalDeaths | separator}}
      </h2>

      <p class="sub">Total Death</p>
    </div>

  </div>




</div>
